.admin-container {
  color: rgb(2, 2, 2);
}

.container {
  height: 100vh;
  margin-top: 10px;
}

.mat-tab-label-active {
  color: rgb(13, 13, 14);
}

.mat-tab-label-inactive {
  color: rgb(2, 2, 2);
}
:host::ng-deep {
  .mat-tab-header {
    background-color: rgb(240, 233, 241);
  }
}
