:host /deep/ .mat-select-value {
  color: rgb(22, 21, 21) !important;
}

:host /deep/.mat-form-field-label {
  color: rgb(15, 15, 15);
}

.accept {
  margin-left: 40%;
  margin-top: 8%;
}
span {
  color:red;
}
